.flex-container {
    display: flex;
}

.background {
    flex: 1 1 0%;
}

.signupform {
    flex: 2 1 0%;
}

.background-img {
    position: relative;
    width: 100%;
}

.card-img {
    position: relative;
    width: 30%;
}

.card-body {
    position: absolute;
    width: 33%;
    background: black;
    opacity: 0.6;
    color: white;

    top: 10rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
}